@import url('/resources/css/bootstrap.min.css');
@import url('/resources/css/all.min.css');
@import "@fancyapps/ui/dist/fancybox/fancybox.css";

:root{
    --brown: #864A1C;
    --lightbrown : #977052;
    --green: #A8B8A7;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Sofia Sans', sans-serif !important;
}

.mt-6{
    margin-top: 5.5rem !important;
}

.mb-6{
    margin-bottom: 5.5rem !important;
}

.my-6{
    margin-top: 5.5rem !important;
    margin-bottom: 5.5rem !important;
}

.fondo-cafe{
    background-color: var(--brown);
    opacity: 0.9;
    mix-blend-mode: multiply;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fondo-cafe-amenities{
    background-color: transparent;
    opacity: 0;
    mix-blend-mode: hard-light;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    text-align: center;
    color: white;
    font-family: 'Sofia Sans', sans-serif !important;
}

.fondo-cafe-amenities:hover{
    opacity: 1;
    background-color: var(--brown);
    transition: 0.3s;
    cursor: pointer;
}

.fs-0{
    font-size: 70px;
}

.fs-max{
    font-size: 150px;
}

.fs-7{
    font-size: 14px;
}

.row{
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.text-lightbrown{
    color: var(--lightbrown);
}

.text-green{
    color: var(--green);
}

.text-brown{
    color: var(--brown);
}

.bg-brown{
    background-color: var(--brown);
    color: #fff;
}

.bg-lightbrown{
    background-color: var(--lightbrown);
    color: #fff;
}

.bg-green{
    background-color: var(--green);
    color: white;
}

.bg-half-green{
    background: linear-gradient(to bottom, white 30%, #A8B8A7 30%, #A8B8A7 70%, white 70%);
}

.bg-mostly-green{
    background: linear-gradient(to bottom, white 5%, #A8B8A7 5%, #A8B8A7 95%, white 95%);
}

.amenities .fa-diamond{
    font-size: 10px;
    align-self: center;
}

.btn-outline-brown{
    background-color: transparent;
    border: 2px solid var(--brown);
    border-radius: 0;
    color: var(--brown);
}

.btn-outline-brown:hover{
    background-color: var(--brown);
    color: white;
    transition: 0.3s;
}

.btn-green{
    background-color: var(--green);
    color: white;
}

.btn-green:hover{
    background-color: #83a080;
    color: white;
    transition: 0.3s;
}

.white-line::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 60%;
    transform: translateY(-50%);
    width: 2px; /* Ancho de la línea vertical */
    background-color: #D9D9D9; /* Color de la línea vertical */
}

#whatsapp{
    right:20px; 
    bottom:20px; 
    width:60px; 
    height:60px; 
    font-size:45px;
    background-color: var(--green);
    transition: 0.2s;
}

#whatsapp:hover{
    background-color: #25d366;
    transition: 0.3s;
}

.shadow-4 {
    box-shadow: 0 2px 4px -1px #0003,0 4px 5px #00000024,0 1px 10px #0000001f;
}

.shadow-7 {
    box-shadow: 0 4px 5px -2px #0003,0 7px 10px 1px #00000024,0 2px 16px 1px #0000001f;
}

#main-navbar{
    z-index: 5;
}

.unit-disponible{
    fill: #63D950;
    mix-blend-mode: multiply;
    transition: 0.2s;
}

.unit-square:hover .unit-disponible{
    fill: #198754 ;
    transition: 0.3s;
}

.unit-apartada{
    fill: #FFEF63;
    mix-blend-mode: multiply;
    transition: 0.2s;
}

.unit-square:hover .unit-apartada{
    fill: #ffc107;
    transition: 0.3s;
}

.unit-vendida{
    fill: #FF6363;
    mix-blend-mode: multiply;
    transition: 0.2s;
}

.unit-square:hover .unit-vendida{
    fill: #dc3545;
    transition: 0.3s;
}

label{
    font-size: 16px;
    color: var(--lightbrown);
}

.contact-input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--brown);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border-bottom: 2px solid var(--brown);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contact-input::placeholder{
    color: var(--lightbrown);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color: var(--green);
}

.nav-pills .nav-link {
    color: var(--green);
}

.hr-green{
    color: var(--green);
    opacity: 1;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--lightbrown);
}

[data-fancybox]:hover{
    cursor: pointer;
}

@media (max-width: 992px) {
    .mt-6{
        margin-top: 3.5rem !important;
    }
    
    .mb-6{
        margin-bottom: 3.5rem !important;
    }
    
    .my-6{
        margin-top: 3.5rem !important;
        margin-bottom: 3.5rem !important;
    }

    .fs-0{
        font-size: 2.7rem;
    }

    .fs-max{
        font-size: 3rem;
    }

    .white-line::after{
        width: 0px; /* Ancho de la línea vertical */
        background-color: transparent; /* Color de la línea vertical */
    }
}